body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f5ebe0; */
  color: #7d7872;
  background-color: #ffffff;
}

header {
  /* https://www.svgbackgrounds.com/#abstract-envelope */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(4,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(43,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF8CFC'/%3E%3Cstop offset='1' stop-color='%23FFEE6E'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='16.17'%3E%3Cpath transform='translate(-136.15 13.2) rotate(3.4499999999999993 1409 581) scale(0.96276)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='5.390000000000001' transform='translate(-145 97) rotate(13.1 800 450) scale(1.0164719999999998)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(36.1 -147) rotate(115 401 736) scale(1.0164719999999998)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4.9'%3E%3Cpath transform='translate(582 -6.800000000000001) rotate(1.7000000000000002 150 345) scale(0.9649200000000001)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='10.780000000000001' transform='translate(-212 -258.5) rotate(118.8 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-402.8 117.2) rotate(19.8 1400 132) scale(0.84)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
}

h1 {
  text-align: center;
}

main {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill='%2391B9BB' cx='45' cy='45' r='10'/%3E%3Cg fill='%23FFDEBE' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
}

main > div {
  width: 25%;
}

form {
  background: #91b9bb;
  padding: 1em;
  padding-right: 5em;
  display: block;
  margin: auto;
  border-radius: 10px;
}

form h3 {
  color: white;
  text-align: center;
}

form input {
  width: 100%;
  margin: auto;
}

form select {
  display: block;
  margin: auto;
}

form input[type="submit"]:active {
  -webkit-animation: jello-horizontal 0.5s both;
  animation: jello-horizontal 0.5s both;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

p {
  max-width: 80%;
}
p span {
  font-weight: bold;
}

button,
input[type="submit"] {
  background: #fcdebe;
}

.events {
  width: 70%;
}

.events img {
  width: 200px;
  max-height: 300px;
  margin: auto;
}

.events li {
  width: 48%;
  min-height: 360px;
  box-shadow: 2px 2px 4px black;
  border-radius: 10px;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;

  -webkit-animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-top-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.attendees > div:nth-child(even) {
  background: rgb(252, 222, 190, 0.5);
}

.attendees > div:nth-child(odd) {
  background-color: rgb(145, 185, 187, 0.5);
}

.attendees img {
  width: 40px;
  display: inline-block;
}

.attendee {
  padding: 1em;
}

.clickable {
  color: black;
  background: white;
  cursor: url("./tada.png"), grab;
}

.clickable:hover {
  -webkit-animation: rotate-center 0.3s ease-in-out both;
  animation: rotate-center 0.3s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-29 8:38:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.color-change-5x {
  -webkit-animation: color-change-5x 8s linear infinite alternate both;
  animation: color-change-5x 8s linear infinite alternate both;
}

/**
 * ----------------------------------------
 * animation color-change-5x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-5x {
  0% {
    color: #87dee4;
  }
  25% {
    color: #c890e8;
  }
  50% {
    color: #f68181;
  }
  75% {
    color: #eecf6a;
  }
  100% {
    color: #8ccb79;
  }
}
@keyframes color-change-5x {
  0% {
    color: #87dee4;
  }
  25% {
    color: #c890e8;
  }
  50% {
    color: #f68181;
  }
  75% {
    color: #eecf6a;
  }
  100% {
    color: #8ccb79;
  }
}

@media only screen and (max-width: 1000px) {
  .new-event {
    min-width: 400px;
    width: 100%;
    margin: auto;
  }

  .events {
    width: 100%;
    margin-top: 1em;
  }

  .events img {
    width: 100%;
  }

  .events li {
    width: 49%;
    min-height: 425px;
  }

  main {
    display: block;
    /* align-items: center; */
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-29 9:55:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-29 10:9:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-29 10:39:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-top-1
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
